:root{
  --color-theme:            #0093F5;
  --color-theme-secondary:  #0084DB;
  --color-white:            #FFFFFF;
  --color-background:       #E6E9ED;
  --color-gray:             #FAFAFA;
  --color-gray-100:         #F5F5F5;
  --color-gray-200:         #D9D9D9;
  --color-gray-300:         #ADADAD;
  --color-gray-400:         #6F6F6F;
  --color-gray-500:         #363636;
  --color-gray-600:         #343434;
  --color-primary:          #0093F5;
  --color-success:          #94D362;
  --color-warning-100:      #F0AF48;
  --color-warning-200:      #C4903B;
  --color-danger:           #F46B4F;
  --font-light:             'GothamSSm Light';
  --font-regular:           'GothamSSm Book';
  --font-medium:            'GothamSSm Medium';
  --font-bold:              'GothamSSm Bold';
}