@font-face {
  font-family: "Gotham Light";
  src: url('../fonts/GothamLight.otf') format('truetype'),
  url("../fonts/GothamLight.woff") format("woff"),
  url("../fonts/GothamLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url('../fonts/GothamBook.otf') format('truetype'),
  url("../fonts/GothamBook.woff") format("woff"),
  url("../fonts/GothamBook.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url('../fonts/GothamMedium.otf') format('truetype'),
  url("../fonts/GothamMedium.woff") format("woff"),
  url("../fonts/GothamMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Gotham Bold";
  src: url('../fonts/GothamBold.otf') format('truetype'),
  url("../fonts/GothamBold.woff") format("woff"),
  url("../fonts/GothamBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}