@font-face {
  font-family: "GothamSSm Light";
  src: url('../fonts/GothamSSm-Light.otf') format('truetype'),
  url("../fonts/GothamSSm-Light.woff") format("woff"),
  url("../fonts/GothamSSm-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamSSm Book";
  src: url('../fonts/GothamSSm-Book.otf') format('truetype'),
  url("../fonts/GothamSSm-Book.woff") format("woff"),
  url("../fonts/GothamSSm-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamSSm Medium";
  src: url('../fonts/GothamSSm-Medium.otf') format('truetype'),
  url("../fonts/GothamSSm-Medium.woff") format("woff"),
  url("../fonts/GothamSSm-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "GothamSSm Bold";
  src: url('../fonts/GothamSSm-Bold.otf') format('truetype'),
  url("../fonts/GothamSSm-Bold.woff") format("woff"),
  url("../fonts/GothamSSm-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}