<footer class="footer">
  <div class="container">
    <div class="footer-contacts">
      <a href="index.html" class="footer-contacts-logo">
        <img src="../images/Veföld_Logo_Gray.svg" alt="Veföld" />
      </a>
      <div class="footer-contacts-list">
        <a href="#" class="link">
          <svg class="icon"><use xlink:href="images/sprite.svg#envelope-letter"></use></svg>
          Vefold@vefold.is
        </a>
        <a href="#" class="link">
          <svg class="icon"><use xlink:href="images/sprite.svg#phone-circle"></use></svg>
          416 0110
        </a>
      </div>
    </div>
    <hr class="hr" />
    <div class="footer-nav">
      <div class="footer-nav-copy">
        <span class="copy copyright">&copy; 2016-2020 – Veföld ehf.</span>
        <span class="copy">Kt. 6803140390</span>
        <span class="copy">Sóltúni 30, 105 Reykjavík</span>
      </div>
      <div class="footer-nav-list">
        <a href="#" class="link">Námskeið</a>
        <a href="#" class="link">Verðskrá</a>
        <a href="#" class="link">Skilmálar</a>
      </div>
    </div>
  </div>
</footer>