<header class="header">
  <div class="container">
    <div class="header-panel">
      <a href="index.html" class="header-panel-logo">
        <img src="../images/Veföld_Logo.svg" alt="Veföld" />
      </a>
      <div class="header-panel-nav">
        <div class="nav">
          <a href="panel.html" class="link link-ttu">
            <svg class="icon"><use xlink:href="images/sprite.svg#dashboard"></use></svg>
            <span class="link-title">Stjórnborð</span>
          </a>
        </div>
        <div class="nav-user">
          <a href="create-user.html" class="link link-ttu">
            <svg class="icon __stroke hidden-sm"><use xlink:href="images/sprite.svg#add"></use></svg>
            <span class="icon hidden display-sm">
              <img src="../images/icons/add-circle.svg" alt="Nýr Vefur" />
            </span>
            <span class="link-title hidden-sm">Nýr Vefur</span>
          </a>
          <div class="nav-user-tabs">
            <div class="popup">
              <button class="link link-icon popup-btn">
                <span class="icon">
                  <img src="../images/icons/notifications.svg" class="icon-image" alt="Notification" />
                  <img src="../images/icons/notifications-blue.svg" class="icon-image icon-image-active" alt="Notification" />
<!--                  <span class="notification-count">8</span>-->
                </span>
              </button>
              <div class="popup-box">
                <div class="popup-box-header">
                  <p class="title-16">Áminningar</p>
                  <div class="popup-box-close"></div>
                </div>
                <div class="popup-box-content">
                  <div class="notification-list">
                    <div class="notification-list-empty">
                      <div class="empty">
                        <span class="icon">
                          <img src="../images/icons/notifications-blue.svg" class="icon-image" alt="Notification" />
                          <span class="notification-count">0</span>
                        </span>
                      </div>
                      <p><strong>Þú ert ekki með neinar tilkynningar</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popup">
              <button class="link link-icon popup-btn">
                <span class="icon">
                  <img src="../images/icons/user.svg" class="icon-image" alt="User" />
                  <img src="../images/icons/user-blue.svg" class="icon-image icon-image-active" alt="User" />
                </span>
              </button>
              <div class="popup-box">
                <div class="popup-box-content">
                  //= _user-data.html
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>