<header class="header">
  <div class="container">
    <div class="header-panel">
      <a href="index.html" class="header-panel-logo">
        <img src="../images/Veföld_Logo.svg" alt="Veföld" />
      </a>
      <div class="header-panel-nav">
        <div class="nav">
          <a href="#" class="link link-ttu">
            <svg class="icon"><use xlink:href="images/sprite.svg#dashboard"></use></svg>
            Stjórnborð
          </a>
        </div>
        <div class="nav-user">
          <a href="#" class="link link-ttu">
            <svg class="icon __stroke"><use xlink:href="images/sprite.svg#add"></use></svg>
            Nýr Vefur
          </a>
          <div class="nav-user-tabs">
            <button class="link link-icon">
              <span class="icon">
                <img src="../images/icons/notifications.svg" alt="" />
                <span class="notification-count">8</span>
              </span>
            </button>
            <button class="link link-icon">
              <span class="icon">
                <img src="../images/icons/user.svg" alt="" />
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>