<div class="message">
  <div class="information">
    <div class="information-icon">
      <svg class="icon"><use xlink:href="images/sprite.svg#alert"></use></svg>
    </div>
    <p class="information-title">KrediTkort ógilt</p>
    <p class="information-description"><a href="#">Skoða nánar</a></p>
    <div class="information-close">
      <svg class="icon"><use xlink:href="images/sprite.svg#close"></use></svg>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header-panel">
      <a href="index.html" class="header-panel-logo">
        <img src="../images/Veföld_Logo.svg" alt="Veföld" />
      </a>
      <div class="header-panel-nav">
        <div class="nav">
          <a href="panel.html" class="link link-ttu">
            <svg class="icon"><use xlink:href="images/sprite.svg#dashboard"></use></svg>
            <span class="link-title">Stjórnborð</span>
          </a>
        </div>
        <div class="nav-user">
          <a href="create-user.html" class="link link-ttu">
            <svg class="icon __stroke hidden-sm"><use xlink:href="images/sprite.svg#add"></use></svg>
            <span class="icon hidden display-sm">
              <img src="../images/icons/add-circle.svg" alt="Nýr Vefur" />
            </span>
            <span class="link-title hidden-sm">Nýr Vefur</span>
          </a>
          <div class="nav-user-tabs">
            <div class="popup">
              <button class="link link-icon popup-btn">
                <span class="icon">
                  <img src="../images/icons/notifications.svg" class="icon-image" alt="Notification" />
                  <img src="../images/icons/notifications-blue.svg" class="icon-image icon-image-active" alt="Notification" />
                  <span class="notification-count">8</span>
                </span>
              </button>
              <div class="popup-box">
                <div class="popup-box-header">
                  <p class="title-16">Áminningar</p>
                  <div class="popup-box-close"></div>
                </div>
                <div class="popup-box-action">
                  <a href="#" class="link link-ttu">Hreinsa lista</a>
                </div>
                <div class="popup-box-content">
                  <div class="notification-list">
                    <div class="notification-list-item">
                      <div class="event">
                        <p class="event-date">15:30 03.11.20</p>
                        <p class="event-title">Sölutorgið</p>
                        <p class="event-description">Flýtiminni hreinsað</p>
                      </div>
                    </div>
                    <div class="notification-list-item">
                      <div class="event">
                        <p class="event-date">11:05 02.11.20</p>
                        <p class="event-title">Bílasíðan</p>
                        <p class="event-description">Flýtiminni hreinsað</p>
                      </div>
                      <a href="#" class="btn btn-border btn-xs">Sjá nánar</a>
                    </div>
                    <div class="notification-list-item">
                      <div class="event">
                        <p class="event-date">13:14 01.11.20</p>
                        <p class="event-title">Sölutorgið</p>
                        <p class="event-description">Flýtiminni hreinsað</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popup">
              <button class="link link-icon popup-btn">
                <span class="icon">
                  <img src="../images/icons/user.svg" class="icon-image" alt="User" />
                  <img src="../images/icons/user-blue.svg" class="icon-image icon-image-active" alt="User" />
                </span>
              </button>
              <div class="popup-box">
                <div class="popup-box-content">
                  //= _user-data.html
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>