.create{
  padding: 80px 0 46px;
  min-height: calc(100vh - 206px);
    &-carousel{
        &-slide{
          pointer-events: none;
            .create-box{
              //transform: translateX(-20px);
            }
            &.slick-current{
              pointer-events: auto;
                //.create-box{
                //  transform: translateX(0);
                //}
                //& ~ .create-carousel-slide{
                //    .create-box{
                //      transform: translateX(20px);
                //    }
                //}
            }
        }
        .slick-dots{
          position: absolute;
          left: 50%;
          bottom: 140px;
          transform: translateX(-50%);
            //@include d(688){
            //  bottom: 200px;
            //}
            .slick-active{
                & ~ li{
                  pointer-events: none;
                }
            }
        }
        @include d(767){
          margin: 0 -16px;
        }
    }
    &-box{
      max-width: 816px;
      margin: 0 auto;
      transition: transform .4s ease-out;
      position: relative;
        &-title{
          max-width: 550px;
          margin-bottom: 38px;
            .title-2{
                @include d(575){
                  font-size: 28px;
                }
                @include d(480){
                  font-size: 24px;
                  letter-spacing: -.01em;
                }
            }
            @include d(767){
              padding: 0 16px;
              max-width: 80%;
            }
            @include d(575){
              max-width: 100%;
            }
            @include d(480){
              max-width: 95%;
              margin-bottom: 12px;
            }
        }
        &-content{
          overflow: hidden;
          min-height: 366px;
            @include d(767){
              padding: 0 16px;
            }
        }
        .input-container{
            &-label{
              top: -22px;
                @include d(480){
                  top: -20px;
                }
            }
            &.__label{
              margin-top: 42px;
                @include d(480){
                  margin-top: 34px;
                }
            }
        }
    }
    .carousel-nav{
      max-width: 816px;
      margin-top: 109px;
        .link{
            @include hover(991){
              &:hover{
                color: var(--color-gray-300);
              }
            }
        }
        @include d(480){
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 16px;
          z-index: 1;
          background-color: var(--color-gray-100);
          margin-top: 0;
        }
    }
    .slick-slider .slick-list,
    .slick-slider .slick-track{
      transform: none;
    }
    @include d(575){
      padding: 40px 0;
      min-height: 0;
    }
    @include d(480){
      padding: 34px 0 0;
      min-height: calc(100vh - 44px);
    }
}

#create-step-1{
  .create-box-content{
    margin-bottom: -2px;
  }
}