body{
  background-color: var(--color-background);
  @extend .book;
  font-size: 14px;
  color: var(--color-gray-400);
}

h2{
  font-size: 48px;
  @extend .light;
  line-height: 1.333em;
  letter-spacing: -.03em;
  color: var(--color-gray-600);
    @include d(767){
      font-size: 42px;
    }
    @include d(575){
      font-size: 38px;
    }
    @include d(480){
      font-size: 32px;
    }
}

h3{
  font-size: 40px;
  line-height: 1.4em;
  @extend .light;
  letter-spacing: -.02em;
  color: var(--color-gray-600);
    @include d(575){
      font-size: 36px;
    }
    @include d(480){
      font-size: 32px;
    }
}

h4{
  font-size: 32px;
  letter-spacing: -.02em;
  @extend .light;
  line-height: 1.25em;
  color: var(--color-gray-500);
    @include d(767){
      font-size: 28px;
    }
    @include d(575){
      font-size: 26px;
    }
    @include d(480){
      font-size: 24px;
    }
}

h5{
  font-size: 24px;
  @extend .light;
  line-height: 1.333em;
  letter-spacing: -.01em;
  color: var(--color-gray-600);
    strong{
      @extend .medium;
      font-size: 25px;
      letter-spacing: -.02em;
        @include d(767){
          font-size: inherit;
          letter-spacing: inherit;
          margin-right: 4px;
        }
    }
    @include d(767){
      font-size: 20px;
    }
    @include d(575){
      font-size: 18px;
    }
    @include d(480){
      font-size: 16px;
      letter-spacing: 0;
    }
}

strong{
  @extend .bold;
}

p{
    .icon{
      fill: currentColor;
      width: 13px;
      height: 13px;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.section{
  position: relative;
    &-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
        img{
          object-fit: cover;
          object-position: center top;
          width: 100%;
          height: 100%;
          height: auto;
          min-height: 100%;
          max-height: none;
        }
    }
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
  border: 1px var(--color-warning-200) solid;
  background-color: var(--color-warning-100);
  color: var(--color-white);
  padding: 0 45px;
  @extend .bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .06em;
  transition: background-color .2s ease-out, color .2s ease;
  white-space: nowrap;
    &-icon{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
        .icon{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        & ~ .btn-title{
          margin-left: 7px;
        }
    }
    @include d(480){
      height: 40px;
      line-height: 40px;
      font-size: 10px;
    }
    @include hover(991){
      &:hover{
        background-color: var(--color-warning-200);
      }
    }
    &-sm{
      border: none;
    }
    &-xs{
      height: 24px;
      line-height: 24px;
      font-size: 10px;
      padding: 0 30px;
        @include d(480){
          height: 24px;
          line-height: 24px;
        }
    }
    &-md{
      height: 40px;
      font-size: 10px;
        .icon{
          width: 16px;
          height: 16px;
        }
    }
    &-border{
      background-color: transparent;
      border-width: 2px;
      border-color: var(--color-theme);
      color: var(--color-theme);
        @include hover(991){
          &:hover{
            background-color: var(--color-theme);
            color: var(--color-white);
          }
        }
    }
}

a.btn{
  color: var(--color-white);
}
a.btn-border{
  color: var(--color-theme);
    @include hover(991){
      &:hover{
        color: var(--color-white);
      }
    }
}

.link{
  display: inline-flex;
  align-items: center;
  line-height: 1.714em;
  font-size: 14px;
  @extend .light;
  transition: color .2s ease-out, background-color .2s ease;
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  white-space: nowrap;
    .icon{
      width: 16px;
      height: 16px;
      fill: currentColor;
      margin-right: 6px;
        &.__stroke{
          stroke: currentColor;
        }
    }
    &-ttu{
      text-transform: uppercase;
      letter-spacing: .06em;
      @extend .medium;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
        .icon{
          width: 13px;
          height: 13px;
          margin-right: 8px;
        }
        @include d(480){
          font-size: 12px;
        }
    }
    @include hover(991){
      &:hover{
        color: var(--color-gray-200);
      }
    }
    &-icon{
      width: 72px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
        @include d(767){
          height: 50px;
          width: 62px;
        }
        @include d(480){
          height: 44px;
          width: 40px;
        }
        &-sm{
          width: 32px;
          height: 32px;
            .icon{
              width: 24px;
              height: 24px;
              margin-right: 0;
              transition: fill .2s ease;
            }
            @include hover(991){
              &:hover{
                .icon{
                  fill: var(--color-gray-300);
                }
              }
            }
            @include d(767){
              width: 32px;
              height: 32px;
            }
            @include d(480){
              width: 32px;
              height: 32px;
            }
        }
        .icon{
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
          margin-right: 0;
            @include d(767){
              width: 20px;
              height: 20px;
            }
            @include d(480){
              width: 16px;
              height: 16px;
            }
        }
        &.is-active{
          background-color: var(--color-white);
            .icon-image{
              opacity: 0;
                &-active{
                  opacity: 1;
                }
            }
        }
        &.__status{
            .icon{
              width: 13px;
              height: 13px;
            }
            &.__success{
              .icon{
                fill: var(--color-success);
              }
            }
            &.__wrong{
              .icon{
                fill: var(--color-danger);
              }
            }
        }
        &.__collapse{
            .icon{
              width: 16px;
              height: 16px;
              fill: var(--color-gray-400);
              transition: transform .2s ease;
            }
            &.active{
              .icon{
                transform: scaleY(-1);
              }
            }
        }
        @include hover(991){
          &:hover{
            color: inherit;
          }
        }
    }
    &-back{
      cursor: pointer;
        .icon{
          width: 20px;
          height: 20px;
        }
    }
}

.icon{
  width: 24px;
  height: 24px;
  fill: var(--color-white);
    &-image{
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: opacity .2s ease-out;
        &-active{
          opacity: 0;
        }
    }
    &-down{
      fill: var(--color-gray-400);
    }
    &.__stroke{
      stroke: var(--color-white);
    }
}

.hr{
  border: none;
  background-color: var(--color-gray-200);
  height: 1px;
  margin: 18px 0;
}

.copy{
  position: relative;
  font-size: 10px;
    &:not(:last-child){
      @include m(481){
        padding-right: 17px;
          &:before{
            content: '';
            position: absolute;
            width: 2px;
            height: 2px;
            background-color: currentColor;
            right: 5px;
            top: 5px;
          }
      }
    }
    @include d(480){
        &:not(.copyright){
          display: none;
        }
    }
}

.title{
    &-10{
      font-size: 10px;
      color: var(--color-gray-400);
      @extend .medium;
      letter-spacing: .04em;
    }
    &-12{
      font-size: 12px;
      @extend .medium;
      color: var(--color-gray-500);
      letter-spacing: .04em;
    }
    &-14{
      font-size: 14px;
    }
    &-16{
      font-size: 16px;
      @extend .bold;
      color: var(--color-gray-600);
    }
}

.hidden{
  display: none;
    &-sm{
      @include d(767){
        display: none;
      }
    }
    &-xs{
      @include d(575){
        display: none;
      }
    }
    &-xxs{
      @include d(480){
        display: none;
      }
    }
}

.display{
  display: block;
    &-sm{
      @include d(767){
        display: block;
      }
    }
    &-xs{
      @include d(575){
        display: block;
      }
    }
    &-xxs{
      @include d(480){
        display: block;
      }
    }
}

.event{
  font-size: 12px;
  padding-bottom: 5px;
    &-date{
      font-size: 10px;
      color: var(--color-gray-300);
      margin-bottom: 8px;
    }
    &-title{
      @extend .medium;
      margin-bottom: 11px;
    }
    &-description{

    }
}

.switch{
    &-display{
      display: flex;
      margin-top: 9px;
        &-btn{
          width: 22px;
          height: 22px;
          cursor: pointer;
            &:not(:first-child){
              margin-left: 26px;
            }
            .icon{
              width: 100%;
              height: 100%;
              fill: var(--color-gray-400);
            }
            &.__list{
              .icon{
                width: 26px;
                height: 26px;
                margin-top: -2px;
                margin-left: -2px;
              }
            }
            &.active{
              .icon{
                fill: var(--color-theme);
              }
            }
        }
        &-box{

        }
        @include d(767){
          display: none;
        }
    }
}

.information{
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-gray-500);
  border: 1px transparent solid;
  position: relative;
  overflow: hidden;
  padding: 13px 16px;
  font-size: 12px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      opacity: .15;
    }
    &-icon{
      width: 12px;
      height: 12px;
      margin-right: 6px;
        .icon{
          width: 100%;
          height: 100%;
        }
        @include d(575){
          position: absolute;
          top: 10px;
          right: 10px;
          margin-right: 0;
        }
    }
    &-title{
      margin-right: 23px;
      letter-spacing: .06em;
      text-transform: uppercase;
      @extend .bold;
        @include d(575){
          margin-right: 0;
          margin-bottom: 9px;
        }
    }
    &.__wrong{
      border-color: var(--color-danger);
        &:before{
          background-color: var(--color-danger);
        }
        .information{
            &-icon{
              .icon{
                fill: var(--color-danger);
              }
            }
        }
    }
    @include d(575){
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 8px;
      font-size: 10px;
    }
}

.controls{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
    .icon{
      width: 16px;
      height: 16px;
    }
}

.order{
    &-sm{
        &-1{
          @include m(768){
            order: 1;
          }
        }
        &-2{
          @include m(768){
            order: 2;
          }
        }
    }
}