body{
  background-color: var(--color-background);
  @extend .book;
  font-size: 14px;
  color: var(--color-gray-400);
}

h2{
  font-size: 48px;
  @extend .light;
  line-height: 1.333em;
  letter-spacing: -.03em;
  color: var(--color-gray-600);
}

h3{
  font-size: 40px;
  line-height: 1.4em;
  @extend .light;
  letter-spacing: -.02em;
  color: var(--color-gray-600);
    @include d(575){
      font-size: 36px;
    }
    @include d(480){
      font-size: 32px;
    }
}

h5{
  font-size: 24px;
  @extend .light;
  line-height: 1.333em;
  letter-spacing: -.01em;
  color: var(--color-gray-600);
    @include d(767){
      font-size: 20px;
    }
    @include d(575){
      font-size: 18px;
    }
    @include d(480){
      font-size: 16px;
      letter-spacing: 0;
    }
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.section{
  position: relative;
    &-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
        img{
          object-fit: cover;
          object-position: center top;
          width: 100%;
          height: 100%;
          height: auto;
          min-height: 100%;
          max-height: none;
        }
    }
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
  border: 1px var(--color-warning-200) solid;
  background-color: var(--color-warning-100);
  color: var(--color-white);
  padding: 0 45px;
  @extend .bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .06em;
  transition: background-color .2s ease-out;
    &-sm{
      border: none;
    }
    &-icon{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
        .icon{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        & ~ .btn-title{
          margin-left: 7px;
        }
    }
    @include d(480){
      height: 40px;
      line-height: 40px;
      font-size: 10px;
    }
    @include hover(991){
      &:hover{
        background-color: var(--color-warning-200);
      }
    }
}

.link{
  display: inline-flex;
  align-items: center;
  line-height: 1.714em;
  font-size: 14px;
  @extend .light;
  transition: color .2s ease-out;
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  white-space: nowrap;
    .icon{
      width: 16px;
      height: 16px;
      fill: currentColor;
      margin-right: 6px;
        &.__stroke{
          stroke: currentColor;
        }
    }
    &-ttu{
      text-transform: uppercase;
      letter-spacing: .06em;
      @extend .medium;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
        .icon{
          width: 13px;
          height: 13px;
          margin-right: 8px;
        }
        @include d(480){
          font-size: 12px;
        }
    }
    @include hover(991){
      &:hover{
        color: var(--color-gray-200);
      }
    }
    &-icon{
      width: 72px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
        .icon{
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
        }
        @include hover(991){
          &:hover{
            color: inherit;
          }
        }
    }
}

.icon{
  width: 24px;
  height: 24px;
  fill: var(--color-white);
    &.__stroke{
      stroke: var(--color-white);
    }
}

.notification-count{
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  background-color: var(--color-warning-100);
  font-size: 8px;
  text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18);
  text-align: center;
  line-height: 13px;
  @extend .bold;
}

.hr{
  border: none;
  background-color: var(--color-gray-200);
  height: 1px;
  margin: 18px 0;
}

.copy{
  position: relative;
  font-size: 10px;
    &:not(:last-child){
      padding-right: 17px;
        &:before{
          content: '';
          position: absolute;
          width: 2px;
          height: 2px;
          background-color: currentColor;
          right: 5px;
          top: 5px;
        }
    }
}

.title-16{
  font-size: 16px;
  @extend .bold;
  color: var(--color-gray-600);
}