.footer{
  position: relative;
  background-color: var(--color-gray-100);
  padding: 33px 16px 26px;
    &-contacts{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 2px;
        &-logo{
          width: 110px;
            @include d(480){
              position: absolute;
              bottom: -2px;
              left: 16px;
              width: 62px;
            }
        }
        &-list{
            .link{
              color: var(--color-theme);
              @extend .medium;
                &:not(:first-child){
                  margin-left: 30px;
                }
                @include d(480){
                  font-size: 12px;
                }
            }
            @include d(480){
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
        }
    }
    &-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-gray-300);
        &-list{
            .link{
              font-size: 12px;
                &:not(:first-child){
                  margin-left: 41px;
                }
            }
            @include d(767){
              display: none;
            }
        }
        @include d(480){
          justify-content: flex-end;
        }
    }
    .container{
      max-width: 1440px;
    }
    .link{
      @include hover(991){
        &:hover{
          color: var(--color-theme);
        }
      }
    }
    @include d(480){
      padding: 33px 0 26px;
    }
}