.input{
  width: 100%;
  @extend .book;
  font-size: 12px;
  color: var(--color-gray-500);
  background-color: var(--color-white);
  border: 1px var(--color-gray-200) solid;
  height: 50px;
  border-radius: 2px;
  padding: 0 16px;
  letter-spacing: .01em;
    &-container{
      position: relative;
      margin-bottom: 16px;
        &-message{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 28px;
          font-size: 8px;
          color: var(--color-danger);
          text-transform: uppercase;
          letter-spacing: .02em;
          @extend .bold;
          line-height: 1.2em;
          display: inline-block;
          pointer-events: none;
          opacity: 0;
          transition: opacity .2s ease-out;
            &.attention{
              border-radius: 2px;
              color: var(--color-white);
              font-size: 10px;
              letter-spacing: .04em;
              padding: 6px 14px;
              right: 15px;
              opacity: 0;
            }
            &.__done{
              background-color: var(--color-success);
                & ~ .input{
                  padding-right: 125px;
                }
            }
            &.__wrong{
              background-color: var(--color-danger);
            }
            &.__check{
              background-color: transparent;
              padding: 0;
              width: 20px;
              height: 20px;
                .icon{
                  fill: var(--color-theme);
                  width: 100%;
                  height: 100%;
                }
            }
            @include d(480){
              &:not(.attention){
                display: none;
              }
            }
        }
        &-btn{
          width: 14px;
          height: 14px;
          position: absolute;
          top: 50%;
          margin-top: -7px;
          right: 10px;
          cursor: pointer;
          opacity: 0;
          pointer-events: none;
          transition: opacity .2s ease-out;
            .icon{
              width: 14px;
              height: 14px;
              stroke: var(--color-danger);
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -7px;
              margin-left: -8px;
            }
        }
        &-check{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          padding-left: 26px;
            label.error{
              display: none !important;
            }
        }
        &-label{
          display: inline-block;
          letter-spacing: .01em;
          font-size: 10px;
          @extend .medium;
          color: var(--color-gray-400);
          position: absolute;
          left: 0;
          top: -20px;
        }
        &-row{
          display: flex;
          align-items: center;
          margin-bottom: 16px;
            .input-container{
              flex: 1;
              margin: 0 8px;
                &:last-child{
                  margin-right: 0;
                }
                &:first-child{
                  margin-left: 0;
                }
                @include d(480){
                  margin-bottom: 0;
                }
            }
        }
        .icon-down{
          position: absolute;
          top: 50%;
          margin-top: -6px;
          right: 16px;
          width: 12px;
          height: 12px;
        }
        &.error{
          .input{
            border-color: var(--color-danger);
            border-width: 2px;
            padding-right: 180px;
              &-container{
                  &-message{
                    opacity: 1;
                  }
                  &-btn{
                    pointer-events: auto;
                    opacity: 1;
                  }
                  &-check{
                    margin-bottom: 58px;
                      @include d(480){
                        margin-bottom: 55px;
                      }
                  }
              }
              &-check{
                  &-message{
                    opacity: 1;
                  }
              }
          }
        }
        &.__label{
          margin: 34px 0 0;
        }
        &.__xl{
          .input{
            height: 50px;
            padding: 0 16px;
              &-container{
                  &-label{
                    font-size: 12px;
                      @include d(480){
                        font-size: 10px;
                      }
                  }
                  &-btn{
                    width: 24px;
                    height: 24px;
                    margin-top: -12px;
                    right: 12px;
                      .icon{
                        width: 22px;
                        height: 22px;
                        margin-top: -11px;
                        margin-left: -11px;
                      }
                      @include d(480){
                        right: 8px;
                        width: 16px;
                        height: 16px;
                        margin-top: -8px;
                      }
                  }
                  &-message{
                    right: 40px;
                    font-size: 10px;
                      &.attention{
                        right: 16px;
                        padding: 6px 26px;
                          &.__check{
                            padding: 0;
                          }
                          @include d(480){
                            right: 8px;
                          }
                      }
                  }
              }
              @include d(480){
                height: 40px;
                padding: 0 8px;
              }
          }
          &.error{
            .input{
              padding-right: 40px;
            }
          }
          label.error{
            @include d(480){
              font-size: 8px;
              right: 30px;
            }
          }
        }
        .toggle-visible-pass{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
        }
        label.error{
          @extend .input-container-message;
          opacity: 1;
        }
    }
    &-check{
      width: 12px;
      height: 12px;
      position: absolute;
      padding: 0;
      opacity: 0;
        &-title{
          font-size: 12px;
            a{
              text-decoration: underline;
              transition: color .2s ease-out;
                @include hover(991){
                  &:hover{
                    color: var(--color-gray-200);
                  }
                }
            }
            @include d(480){
              font-size: 10px;
            }
        }
        &-icon{
          position: absolute;
          top: -1px;
          left: 0;
          border: 2px var(--color-danger) solid;
          background-color: var(--color-white);
          border-radius: 2px;
          width: 16px;
          height: 16px;
          margin-right: 10px;
            .icon{
              width: 8px;
              height: 8px;
              fill: var(--color-primary);
              position: absolute;
              top: 2px;
              left: 2px;
              opacity: 0;
              transition: opacity .2s ease-out;
            }
        }
        &-message{
          position: relative;
          display: none;
          background-color: var(--color-white);
          text-transform: uppercase;
          color: var(--color-danger);
          @extend .bold;
          border-radius: 4px;
          border: 2px var(--color-danger) solid;
          font-size: 10px;
          letter-spacing: .04em;
          padding: 8px 17px 7px;
          white-space: nowrap;
          pointer-events: none;
          margin-top: 30px;
          transition: opacity .2s ease;
            &:before{
              content: '';
              position: absolute;
              left: 50%;
              top: -9px;
              transform: translateX(-50%) rotate(45deg);
              width: 14px;
              height: 14px;
              background-color: var(--color-white);
              border-left: 2px var(--color-danger) solid;
              border-top: 2px var(--color-danger) solid;
              pointer-events: none;
              border-radius: 2px;
            }
            @include d(480){
              font-size: 8px;
                &:before{
                  width: 12px;
                  height: 12px;
                }
            }
        }
        &:checked{
          & ~ .input-check-icon{
            border-color: var(--color-gray-200);
              .icon{
                opacity: 1;
              }
          }
        }
        &:focus{
          outline: none;
        }
        &.error{
          & ~ .input-check-message{
            display: inline-block;
          }
          & ~ .package-checked{
            border-color: var(--color-danger);
          }
        }
    }
    &-editable{
      border: 1px transparent solid;
      border-bottom: none;
      padding: 0 3px;
        &-value{
          display: none;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:focus{
          border-color: var(--color-gray-300);
        }
    }
    &.error{
      border-color: var(--color-danger);
      border-width: 2px;
        & ~ .input-container-btn{
          opacity: 1;
        }
    }
    &.valid{
      & ~ .attention{
        opacity: 1;
      }
    }
    @include d(480){
      height: 40px;
      font-size: 12px;
      padding: 0 14px;
    }
    &-sm{
      height: 40px;
      padding: 0 8px;
      font-size: 12px;
    }
    &[type="password"].valid{
      & ~ .attention.__check{
        opacity: 1;
      }
    }
    &::-webkit-input-placeholder {
      color: var(--color-gray-300);
    }
    &::-moz-placeholder {
      color: var(--color-gray-300);
    }
    &:-ms-input-placeholder {
      color: var(--color-gray-300);
    }
    &:-moz-placeholder {
      color: var(--color-gray-300);
    }
}

.select{
  @extend .input;
    option{
      color: var(--color-gray-500);
    }
    &:invalid{
      color: var(--color-gray-300);
    }
    &.error ~ label.error{
      display: none !important;
    }
}