.table{
  background-color: var(--color-white);
  border-radius: 2px;
  border: 1px solid var(--color-gray-200);
  font-size: 12px;
    &-head{
      background-color: var(--color-gray-100);
      border-bottom: 1px solid var(--color-gray-200);
      padding: 14px 16px;
        &.active{
            .table-row-toggle{
              transform: scaleY(-1);
            }
        }
        @include d(575){
          padding: 12px 8px;
        }
    }
    &-body{
      padding: 0 16px;
        @include d(575){
          padding: 0 8px;
        }
    }
    &-row{
      display: flex;
      position: relative;
        &:not(:last-child){
          border-bottom: 1px var(--color-gray-200) solid;
        }
        &-toggle{
          position: absolute;
          top: -7px;
          right: -16px;
          display: none;
          transition: transform .2s ease;
            &.link-icon{
              .icon{
                width: 12px;
                height: 12px;
              }
            }
            @include d(767){
              display: inline-flex;
            }
            @include d(575){
              top: -11px;
              right: -11px;
            }
        }
        &.column{
            &-xs{
              @include d(575){
                flex-direction: column;
                  .table-td{
                    &:not(:last-child){
                      padding-bottom: 0;
                    }
                  }
                  .btn{
                    width: 100%;
                    max-width: 100%;
                  }
              }
            }
        }
    }
    &-th{
      flex: 1;
      font-size: 12px;
      letter-spacing: .04em;
      color: var(--color-gray-400);
      text-transform: uppercase;
      @extend .medium;
      position: relative;
        &:not(:first-child):last-child{
          text-align: right;
        }
        p, span{
          letter-spacing: inherit;
          font-family: inherit;
        }
        @include d(575){
          font-size: 8px;
        }
    }
    &-td{
      flex: 1;
      padding: 30px 0;
      position: relative;
        &:not(:first-child):last-child{
          text-align: right;
        }
        @include d(575){
          padding: 16px 0;
        }
    }
    &-background{
        .table-row{
          position: relative;
            &:not(:last-child){
              border-bottom: none;
            }
            &:nth-child(even){
                &:before{
                  content: '';
                  position: absolute;
                  top: 0;
                  left: -16px;
                  right: -16px;
                  bottom: 0;
                  background-color: var(--color-gray-100);
                  pointer-events: none;
                    @include d(575){
                      right: -8px;
                      left: -8px;
                    }
                }
            }
        }
    }
    &-minimize{
      .table{
          &-td{
            padding: 20px 0;
          }
      }
    }
    &-nav{
      text-align: center;
      color: var(--color-theme);
      padding: 20px 0;
      position: relative;
        &-link{
          margin: 0 8px;
            &.active{
              @extend .bold;
            }
        }
        &-arrow{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
            .icon{
              width: 16px;
              height: 16px;
            }
            &.__prev{
              left: 10px;
            }
            &.__next{
              right: 10px;
              transform: translateY(-50%) scaleX(-1);
            }
        }
        @include d(575){
          font-size: 12px;
            .link{
              font-size: inherit;
            }
        }
    }
    &-collapse{
      .table{
        &-body,
        &-nav{
          @include d(767){
            display: none;
          }
        }
      }
    }
    .information{
      margin-top: 30px;
        @include d(575){
          margin-top: 20px;
        }
    }
    .title{
        &-16{
          margin-bottom: 9px;
            &.access-title{
              margin-bottom: 0;
            }
            @include d(575){
              font-size: 12px;
            }
        }
    }
    .settings-link{
        .title-16{
          margin-bottom: 0;
        }
    }
    .site{
        &-detail-info{
          font-size: 14px;
          @include d(575){
            font-size: 12px;
          }
        }
        &-ip{
          @include d(575){
            width: 100%;
            margin-top: 15px;
            padding-top: 15px;
            position: relative;
              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: var(--color-gray-200);
              }
          }
        }
        &-server{
            &:nth-child(1){
                span, a{
                  margin-left: 0;
                }
            }
        }
    }
    .link{
      @include d(575){
        font-size: 12px;
          .icon{
            width: 14px;
            height: 14px;
          }
      }
    }
    @include d(757){
      .title-14{
        font-size: 12px;
      }
    }
    @include d(575){
      font-size: 10px;
        .title-14{
          font-size: inherit;
        }
    }
}

.full-border{
  position: relative;
    &:before{
      content: '';
      position: absolute;
      height: 1px;
      right: -16px;
      left: -16px;
      background-color: var(--color-gray-200);
    }
    &-bottom{
        &:not(:last-child){
          border-bottom: none;
        }
        &:before{
          bottom: 0;
        }
    }
}

.column{
    &-sm{
      @include d(767){
        flex-direction: column;
          .table-td{
            padding: 20px 0;
          }
      }
    }
}