.orders{
  color: var(--color-gray-500);
  margin: 0 -8px;
  display: flex;
    &-column{
      padding: 0 8px;
        &.column{
            &-9{
              width: 69%;
                @include d(767){
                  width: 100%;
                }
            }
            &-3{
              width: 31%;
                @include d(767){
                  width: 100%;
                }
            }
        }
    }
    &-data{
        &-item{
          margin-bottom: 8px;
        }
    }
    &-card{
      border-top: 1px var(--color-gray-200) solid;
      margin-top: 20px;
      position: relative;
      margin-bottom: 20px;
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left: -16px;
          right: -16px;
          height: 1px;
          background-color: var(--color-gray-200);
          pointer-events: none;
            @include d(575){
              left: -8px;
              right: -8px;
            }
        }
        &-item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;
        }
        &-number{
          font-size: 14px;
            @include d(991){
              font-size: 12px;
            }
        }
        &-type{
          height: 18px;
        }
        &-action{
          margin-right: -11px;
          .icon{
            stroke: var(--color-gray-400);
            width: 20px;
            height: 20px;
          }
        }
    }
    &-edit{
      text-align: center;
      color: var(--color-theme);
        .icon{
          fill: currentColor;
          width: 16px;
          height: 16px;
        }
    }
    &-carousel{
        &-slide{

        }
    }
    @include d(767){
      flex-direction: column;
    }
}