.tabs{
  background-color: var(--color-gray-100);
  padding-top: 32px;
  border-bottom: 1px var(--color-gray-200) solid;
    &-nav{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
        &-list{
          padding-top: 12px;
          display: flex;
          align-items: flex-end;
            @include d(991){
              padding-top: 8px;
            }
        }
        &-action{
          display: flex;
          align-items: center;
          justify-content: flex-end;
            .btn{
              height: 32px;
              line-height: 32px;
            }
            .link{
              margin-left: 14px;
                .icon{
                  fill: var(--color-gray-400);
                }
            }
            @include d(767){
              display: none;
            }
        }
    }
    @include d(575){
      padding-top: 5px;
    }
}

.tab{
  letter-spacing: .06em;
  border: none;
  padding: 0 19px 21px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  @extend .bold;
  position: relative;
  color: var(--color-gray-400);
  transition: color .2s ease;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-warning-100);
      transition: opacity .2s ease;
      opacity: 0;
    }
    &-content{
        &:not(:first-child){
          display: none;
        }
    }
    &.active{
      color: var(--color-gray-500);
        &:before{
          opacity: 1;
        }
    }
    @include hover(991){
      &:hover{
        color: var(--color-gray-500);
          &:before{
            opacity: 1;
          }
      }
    }
    @include d(767){
      padding: 0 15px 21px;
    }
    @include d(575){
      font-size: 8px;
      padding: 0 6px 13px;
    }
}